/* .clockface {
    margin-bottom: 20px;
    outline: solid 2px red;
    display: block;
    width: 100px;
}

.actions {
    margin-top: 50px;
}
.timer {
    margin-left: auto;
    margin-right: auto;
} */